In [11]:
import seaborn as sns
import pandas as pd
import nltk
from nltk.tokenize import regexp_tokenize
from nltk.util import bigrams, trigrams, ngrams

In [61]:

# read the script data into a dataframe
df = pd.read_csv('star-trek-transcripts_parsed_voyager.csv', usecols=['season','episode_name','speaker','line'])
df = df[df['speaker'].notna()]    # dialogue only

In [62]:

# convert to lowercase and tokenize the lines (only keep word characters and apostrophes for contractions)
df['tokens'] = [nltk.regexp_tokenize(line, pattern="[\w\']+") for line in df['line'].str.lower()]

In [55]:

#
df = df.explode('tokens')

In [59]:
df['prev_word'] = df['tokens'].shift(periods=1)
df['next_word'] = df['tokens'].shift(periods=-1)

In [63]:
df.head()

,episode_name,season,speaker,line,tokens
2,Caretaker,Season One,CHAKOTAY,(native American with a tattoo) Damage report.,"[native, american, with, a, tattoo, damage, re..."
3,Caretaker,Season One,TUVOK,(Vulcan) Shields at sixty percent.,"[vulcan, shields, at, sixty, percent]"
4,Caretaker,Season One,TORRES,(human-Klingon woman) A fuel line has ruptured...,"[human, klingon, woman, a, fuel, line, has, ru..."
5,Caretaker,Season One,CHAKOTAY,Be creative!,"[be, creative]"
6,Caretaker,Season One,TORRES,How am I supposed to be creative with a thirty...,"[how, am, i, supposed, to, be, creative, with,..."

In [87]:
df['4grams'] = [list(nltk.ngrams(t, 4)) for t in df['tokens']]

In [95]:
['_'.join(t) for t in [l for l in df['4grams']]]

TypeError: sequence item 0: expected str instance, tuple found

In [89]:

df_4grams = list(nltk.ngrams(df['tokens'].iloc[97], 4))
df_4grams

[("they're", 'not', 'for', 'sale'),
 ('not', 'for', 'sale', 'now'),
 ('for', 'sale', 'now', 'inform'),
 ('sale', 'now', 'inform', 'your'),
 ('now', 'inform', 'your', 'commanding'),
 ('inform', 'your', 'commanding', 'officer'),
 ('your', 'commanding', 'officer', 'that'),
 ('commanding', 'officer', 'that', 'the'),
 ('officer', 'that', 'the', 'federation'),
 ('that', 'the', 'federation', 'council'),
 ('the', 'federation', 'council', 'can'),
 ('federation', 'council', 'can', 'expect'),
 ('council', 'can', 'expect', 'an'),
 ('can', 'expect', 'an', 'official'),
 ('expect', 'an', 'official', 'query')]

In [ ]:
df_4grams = list(nltk.ngrams(book_tokens, 5))
book_ngrams

In [90]:
list(nltk.ngrams(df['tokens'].iloc[0],4))

[('native', 'american', 'with', 'a'),
 ('american', 'with', 'a', 'tattoo'),
 ('with', 'a', 'tattoo', 'damage'),
 ('a', 'tattoo', 'damage', 'report')]